.myMolecule .mo-mainBench {
    height: calc(100% - 25px);
}

.myMenuBar {
    height: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--activityBar-background);
}

.myMenuBar > .mo-menu {
    box-shadow: none;
    background: var(--activityBar-background);
    color: var(--foreground);
}

.myMenuBar .mo-menu__item:hover {
    background-color: auto !important;
    border-color: auto !important;
    color: auto !important;
}

.myMenuBar > .mo-menu--horizontal .mo-menu__item {
    min-width: auto;
}

.myMenuBar > .mo-menu--horizontal > .mo-menu__item > .mo-menu__content>.mo-menu__label {
    padding: 0 1em;
    flex: none;
    font-size: 12px;
}

.myMenuBar > .mo-menu--horizontal > .mo-menu__item > .mo-menu__content> .mo-menu__indicator {
    display: none;
}
